@charset "utf-8";
/* CSS Document */
body,figure{
	margin:0px;
	font-size:16px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
}

#galeri{
	width:100%;
	overflow:hidden;/*Taşınca gizliyor*/
}

.slider{
	width:500%;
	position:relative;
	font-size:0px;
	animation:sildy 20s infinite;
}

@keyframes sildy{
	0%{left:0%;}
	20%{left:0%;}
	25%{left:-100%;	}
	45%{	left:-100%;	}
	50%{	left:-200%;	}
	70%{	left:-200%;	}
	75%{	left:-300%;	}
	95%{	left:-300%;	}
	100%{	left:-400%;	}
}

.slider figure{
	width:20%;
	height:auto;
	display:inline-block;
	position:inherit;
}

.slider img{
	width:100%;
	height:auto;	
}

.slider figcaption{
	color:#CCC;
	background:rgba(0,0,0,0.4);
	pading:1em;
	position:absolute;
	left:0;
	bottom:80px;
	width:100%;
	font-size:2em;
	
}