@charset "utf-8";
/* CSS Document */

#slider{
	width:805px;
	height:320px;
	background:#ccc;
	margin:150px auto;
	box-shadow:0px 0px 10px 1px rgba(0,0,0,0.4);
	overflow:hidden;/*İçine eklenen nesneler dışarıya taşan nesneleri ilgili göstermez*/
}

#slider ul{
	width:2000px;	
}

#slider ul li{
	position:relative;
	display:block;
	width:160px;
	float:left;
	box-shadow:0px 0px 25px 10px rgba(0,0,0,0.5);
	border-left:1px solid #888;
	transition:all 0.5s;
}

#slider ul:hover li{
	width:40px;
}

#slider ul li:hover{
	width:640px;
}

.img_text{
	width:640px;
	position:absolute;
	bottom:0;
	left:0;
	background:rgba(0,0,0,0.4);
}

.img_text a{
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
	color:#eee;
	box-sizing:border-box;
	padding:20px;
	display:block;
}

.img_text a p{
	font-size:16px;	
}